<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
   </head>

   <body>
      <h1>Sesión {{ sesion }}</h1>
      <h2>La fecha y hora del servidor es: {{ time }}</h2>
   </body>


	
	<!-- Codes by HTML.am -->

   	<!-- CSS Code -->
	<style type="text/css" scoped>
	table.GeneratedTable {
		width:100%;
		background-color:#FFFFFF;
		border-collapse:collapse;border-width:1px;
		border-color:#336600;
		border-style:solid;
		color:#009900;
	}
	
	table.GeneratedTable td, table.GeneratedTable th {
		border-width:1px;
		border-color:#336600;
		border-style:solid;
		padding:3px;
	}
	
	table.GeneratedTable thead {
		background-color:#CCFF99;
	}
	</style>
	
	<!-- HTML Code -->
	<table class="GeneratedTable">
		<thead>
			<tr>
				<th>Tiempo (s)</th>
				<th>Temperatura (ºC)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ tiempo0 }}</td>
				<td>{{ temp0 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo1 }}</td>
				<td>{{ temp1 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo2 }}</td>
				<td>{{ temp2 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo3 }}</td>
				<td>{{ temp3 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo4 }}</td>
				<td>{{ temp4 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo5 }}</td>
				<td>{{ temp5 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo6 }}</td>
				<td>{{ temp6 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo7 }}</td>
				<td>{{ temp7 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo8 }}</td>
				<td>{{ temp8 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo9 }}</td>
				<td>{{ temp9 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo10 }}</td>
				<td>{{ temp10 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo11 }}</td>
				<td>{{ temp11 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo12 }}</td>
				<td>{{ temp12 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo13 }}</td>
				<td>{{ temp13 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo14 }}</td>
				<td>{{ temp14 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo15 }}</td>
				<td>{{ temp15 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo16 }}</td>
				<td>{{ temp16 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo17 }}</td>
				<td>{{ temp17 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo18 }}</td>
				<td>{{ temp18 }}</td>
			</tr>
			<tr>
				<td>{{ tiempo19 }}</td>
				<td>{{ temp19 }}</td>
			</tr>
		</tbody>
	</table>


</html>

